<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience & Education</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/university.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July-August 2024</h4>
                                    <h4 class="subheading">Cybersecurity Analyst , <br /> Futurs (FutursHealth) </h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                            Analysis of the security incidences of the Ribera Group network using Darktrace, CroudStrike and other tools.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hackathon.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">Hackathon IBHF</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                            Development of a new aplicattion or service for the banking sector
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/university.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-today</h4>
                                    <h4 class="subheading">Computer Engineering / Computer Science, <br /> University of Alicante </h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>