<!-- Services Section -->
<section id="courses_certificates" class="bg-png">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Courses & Certificates</h2>
        </div>
    </div>

    <table class="custom-table">
        <tr>
            <td class="icono">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="cert-title">Certificado CompTia+</td>
            <td class="platform">Udemy</td>
        </tr>
        <tr>
            <td class="icono">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="cert-title">Certificado Seguridad</td>
            <td class="platform">Udemy</td>
        </tr>
        <tr>
            <td class="icono">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                </span>
            </td>
            <td class="cert-title">Certificado DevOps</td>
            <td class="platform">UA</td>
        </tr>
    </table>
</section>