<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include skills.html %}
    {% include portfolio_grid.html %}
    {% include courses_certificates.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        alert("Si se está visualizando desde un navegador, configure el zoom entre 120% - 125% para una mejor experiencia");
      });
    </script>

    </body>
</html>